Flask==1.1.1
python-dotenv==0.10.3
flask-wtf==0.14
flask-sqlalchemy==2.4.0
flask-migrate==2.5.2
flask-login==0.4.1
flask-mail==0.9.1
pyjwt==1.7.1
flask_bootstrap==3.3.7.1
flask_moment==0.9.0
flask-babel==0.12.2
guess_language-spirit==0.5.3
requests==2.22.0
